*{
   margin:0px;
   padding:0px;
}
div.general{
	 margin:auto;
	 margin:top;
	 width:900px;
	 height:800px;
	 background-color:red;
	
}
div#ofertas{
     float:right;
     width:100px;
     height:500px;
     background-color:green;	
}